//- This file is a template for the collaborators info
mixin collaboratorCard(collaborator)
	section.card.collaboratorCard
		img(src=`${collaborator.img.src}` alt=`${collaborator.img.alt}`)
		h2.name #{collaborator.name}
		<span style="font-size:0.9rem">Title:</span> <h4 class="title" style="display:inline-block">#{collaborator.title}</h4>
		aside.controlsCont
			span.msg
			div.ctrlBtnEdit
				i(class="far fa-edit" data-id=`${collaborator['_id']}`)
			div.ctrlBtnDelete
				i(class="far fa-times-circle" data-id=`${collaborator['_id']}`)