//- This file is a template for the reedmaking info
mixin reedmakingPricingCard(reedData)
	section.card.reedmakingCard(data-reedtype=`${reedData.name}`)
		i(class="far fa-trash-alt deleteReed" data-id=`${reedData["_id"]}`)
		h3.nameHeader Name
		header.nameHeaderCont
			p.name #{reedData.name}
			i(class="far fa-edit editNameBtn" data-id=`${reedData["_id"]}`)
		h3.descriptionHeader Description
		i(class="far fa-edit editDescriptionBtn" data-id=`${reedData["_id"]}`)
		p.description #{reedData.description}

		table.displayRates(data-reedtype=`${reedData.name}` data-reedid=`${reedData["_id"]}`)
			caption
				h4 Rates
				i(class="far fa-plus-square")

			- let currPricing = reedData.pricing;
			if currPricing.flatRate
				thead
					tr
						td Flat Rate
						td
				tbody
					tr
						td #{currPricing.flatRate}
						td.controls
							i(class="far fa-edit")
			else
				thead
					tr
						td Name
						td Price
						td
				tbody
					each rate in currPricing.rates
						tr
							td #{rate.name}
							td #{rate.cost}
							td.controls
								i(class="far fa-edit" data-id=`${rate["id"]}`)
								i(class="far fa-times-circle" data-id=`${rate["id"]}`)