//- This file is a template for the current music info
mixin currentMusicCard(song)
	section.card.presentCard
		h2.name #{song.name}
		h4.composer By: #{song.by}
		p.description #{song.description}
		aside.controlsCont
			span.msg
			div.ctrlBtnEdit 
				i(class="far fa-edit" data-id=`${song.id}`)
			div.ctrlBtnDelete
				i(class="far fa-times-circle" data-id=`${song.id}`)