//- This file is a template for the current music info
mixin currentMusicCard(song)
	section.card.presentCard
		h2.name #{song.name}
		<span style="font-size:0.9rem">By:</span><h4 class="composer" style="display:inline-block;">#{song.by}</h4><br />
		p.description #{song.description}
		aside.controlsCont
			span.msg
			div.ctrlBtnEdit 
				i(class="far fa-edit" data-id=`${song.id}`)
			div.ctrlBtnDelete
				i(class="far fa-times-circle" data-id=`${song.id}`)