//- This file is a template for the past performance info
mixin pastPerformanceCard(performance)
	section.card.pastCard
		img(src=`${performance.img.src}` alt=`${performance.img.alt}`)
		h2.title #{performance.name}
		article.subHeaderCont
			h4.location #{performance.location}
			div.instrumentsCont
				if (performance.instruments.length === 1)
					h4 #{performance.instruments[0]}
				else
					- for (let i = 0; i < performance.instruments.length; i++)
						if i === (performance.instruments.length - 1)
							h4 #{performance.instruments[i]}
						else
							h4!= `${performance.instruments[i]},&nbsp;&nbsp;&nbsp;`
		p.date #{performance.date}
		p.description #{performance.description}
		aside.controlsCont
			span.msg
			div.ctrlBtnEdit
				i(class="far fa-edit" data-id=`${performance.id}` data-rev=`${collaborator['dropboxRevision']}`)
			div.ctrlBtnDelete
				i(class="far fa-times-circle" data-id=`${performance.id}` data-rev=`${collaborator['dropboxRevision']}`)