//- This file is a template for the future performance info
mixin futurePerformanceCard(performance)
	section.card.futureCard
		h2.title #{performance.name}
		article.subHeaderCont
			h4.location #{performance.location}
			div.instrumentsCont
				if (performance.instruments.length === 1)
					h4 #{performance.instruments[0]}
				else
					- for (let i = 0; i < performance.instruments.length; i++)
						if i === (performance.instruments.length - 1)
							h4 #{performance.instruments[i]}
						else
							h4!= `${performance.instruments[i]},&nbsp;&nbsp;&nbsp;`
		p.date #{performance.date}
		- let time = performance["time"];
		p.time #{time.start} - #{time.end}
		p.description #{performance.description}
		aside.controlsCont
			span.msg
			div.ctrlBtnEdit
				i(class="far fa-edit" data-id=`${performance['_id']}`)
			div.ctrlBtnDelete
				i(class="far fa-times-circle" data-id=`${performance['_id']}`)