//- This file is a template for the future performance info
mixin futurePerformanceCard(performance)
	section.card.futureCard
		h2 #{performance.name}
		article.subHeaderCont
			h4 #{performance.location}
			div.instrumentsCont
				- for (let i = 0; i < performance.instruments.length; i++)
					if i===0
						h4 #{performance.instruments[i]}
					else
						h4 ,&nbsp;&nbsp;&nbsp;#{performance.instruments[i]}
		p.date #{performance.date}
		- let time = performance["time"];
		p.time time.start - time.end
		p #{performance.description}
		div.controlsCont
			span.msg
			div.ctrlBtnEdit
				i(class="far fa-edit" data-id=`${performance.id}`)
			div.ctrlBtnDelete
				i(class="far fa-times-circle" data-id=`${performance.id}`)